@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000000;
  --secondary-color: #141414;
  --tertiary-color: #131313;

  background: linear-gradient(300deg, var(--primary-color), var(--secondary-color), var(--tertiary-color), var(--primary-color));
  background-size: 200% 200%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}